@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.layout {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  background-color: #111111;
}
.header {
  margin: 0;
  padding: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  background-color: #111111;
  border-bottom: solid 1px rgb(236, 236, 236);
  color: rgb(243, 188, 106);
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  img {
    position: relative;
    left: 45%;
  }
  z-index: 99;
}
.logo {
  width: 100%;
  height: 100%;
}
.Field {
  width: 100%;
  height: 90%;
  padding: 10px;
}
.settings {
  padding: 50px;
  color: whitesmoke;
}

.players {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100% !important;
  max-height: 500px;
}
.playerShirt {
  background: linear-gradient(
    90deg,
    #bd2b48 25%,
    #0e4c72 25%,
    #0e4c72 50%,
    #bd2b48 50%,
    #bd2b48 75%,
    #0e4c72 75%,
    #0e4c72 100%
  );
  border-radius: 100%;
  width: 50px;
  height: 50px;
}
.playerName {
  color: white;
}
input {
  width: 100%;
  color: #fff;
  background: transparent;
  border: none;
  outline: none;
}
